.container{
    text-align: center;
}
img{
    max-width: 300px;
    max-height: 300px;
}
.row{
    justify-content: center;    
}
.row button{
    flex-basis: 45%;
    padding:10px 0;
    margin: 5px;
}
.btn-default{
    border:1px solid #BBBBBB;
}
.timeBar{
    width: 100%;
    background-color: grey;
    margin-bottom: 30px;
}
.timeRemain{
    width: 100%;
    height: 15px;
    background-color: red;    
}
